numpy>=1.18.1
pandas>=1.0.3
nltk>=3.4.3
tqdm>=4.45.0
scikit-learn
torch>=1.4.0
scipy>=1.3.1
gitpython
transliterate
joblib
python-Levenshtein
fairseq
truecase
sentencepiece
imohash
cachetools
dill
submitit
faiss-gpu
sacremoses>=0.0.38
nevergrad>=0.4.0.post3
editdistance>=0.5.3
tokenizers>=0.5.2
kenlm@ git+https://github.com/kpu/kenlm.git
cachier
huggingface
