numpy
pandas
nltk
tqdm
scikit-learn
torch
scipy
gitpython
transliterate
joblib
python-Levenshtein
fairseq
truecase
sentencepiece
imohash
cachetools
dill
submitit
faiss-gpu
sacremoses
nevergrad
editdistance
tokenizers
kenlm@ git+https://github.com/kpu/kenlm.git
cachier
huggingface
